.main {
    padding: 20px;
}
#login {
    padding-right: 75%;
}

#login .btn  {
    margin-top: 20px;
}

.form-wrapper {
    padding-right: 75%;
    padding-top: 20px;
    padding-left: 20px;
}
.form-wrapper .btn  {
    margin-top: 20px;
}
